
.card{	 
 background-color:white;
    box-shadow: 0 4px 8px 0 #00000033;
    transition: 0.3s;
    width: 20%;
    height: 300px;
    margin-top: 5%;
    margin-left:40%;
    border-radius: 20px;
}
button
{
	background-color:#380b5c;
	border:none;
	color:#ffffff;
	padding:10px;
    border-radius: 10px;
}
form{
	margin-left:30px;
	color:#380b5c;
    
}