table, th{
    
  box-shadow: 0 4px 8px 0 #00000033;
    border: 1px solid white;
    border-collapse: collapse;
    /* width:35%; */
    overflow: hidden;
    background-color: #380b5c;
    color: white;
    padding: 10px;
    border-radius: 15px;
  }
   td {
       
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
    width:auto;
    color: black;
    overflow: hidden;
    background-color: #c4c2c2;
    text-align: center;
  }
  th {
    text-align: center;
  }

